.years{
  height: 100%;
}

.years, .years div{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}

.years div{
  justify-content: space-evenly;
  align-items: center;
  transition: width 0.5s, filter 0.5s;
  filter: grayscale(100%);
  cursor:pointer;
}

.years div p{
  color: white;
  font-size: 4rem;
  background-color: black;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
}

.years div:hover{
  width: 200%;
  filter: grayscale(0%);
  
}